<title>Pay School Fees</title>
<meta name="viewport" content="width=device-width, initial-scale=1">      

<%= render 'layouts/stylesheets'%>

<div class="bg-dark dk" id="wrap">
  <%= render 'students/top'%>
  <%= render :partial => "students/left", :locals => { :active => 'Fee' }%>
  <div id="content">
    <div class="outer">
      <div class="inner bg-light lter">
        <h4>Pay School Fees</h4>
        <hr>
        <div class="row vdiocont">   
          <%= form_for(@school_fees, url: student_pay_fees_school_path) do |f| %> 
          <form class="form-horizontal" action="">
            <div class="form-group margunrve">
              <label for="text">Name</label>
              <%=f.text_field :name, class: "form-control",placeholder: "Name",value: current_user.name %>
            </div>
            <div class="form-group margunrve">
              <label for="email">Email</label>
              <%=f.text_field :email, class: "form-control",placeholder: "email", value: current_user.email%>
            </div>
            <div class="form-group margunrve">
              <label for="text">Phone No</label>
              <%=f.text_field :phone_no, class: "form-control",placeholder: "phone_no", value: current_user.phone_no %>
            </div>
            <div class="form-group margunrve">
              <label for="text">Name Of School</label>
              <%= f.select :name_of_school, options_from_collection_for_select(@school_name, :id, :name),{}, {:class => 'form-control'}%>
            </div>
            <div class="form-group margunrve text-center">
              <%=f.submit "Submit", class: "btn btn-default"%>
              <button type="submit" class="btn btn-default">cancel</button>
            </div>
          </form>
          <%end%> 
        </div>    
        <hr>
      </div>
    <!-- /.inner -->
    </div>
    <!-- /.outer -->
  </div>
  <!-- /#content -->
</div>
<!-- /#wrap -->
<footer class="Footer bg-dark dker">
    <p>2017 &copy; Tabashi Technology Private Limited</p>
</footer>
<!-- /#footer -->
<!-- #helpModal -->
<div id="helpModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<%= render 'layouts/javascripts'%>