<div id="courses">
	<div class="container-fluid courses">
		<div class="row">
			<div class="col-md-12 bhoechie-tab-container">
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 bhoechie-tab-menu">
				  	<div class="list-group">
				  		<%@course_detail.select("DISTINCT(degree_name)").each do |course|%>
							<a href="#" class="list-group-item active text-center course_id-<%= course.id %>">
						  		<h4 class="glyphicon glyphicon-credit-card" id="<%= course.id %>"></h4><br/>
						  		<%= course.degree_name %>
							  	<script type="text/javascript">
						            $('.course_id-<%= course.id %>').click(function(){
						               $.ajax({
						                  url:'/users/find_all_course_name',
						                  type:'POST',
						                  beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
						                  dataType:'json',
						                  data:{
						                      myparam1: <%= course.id %>,
						                  },
						                  success:function(data){
						                      debugger;
						                  },
						                  error:function(data){
						                      debugger;
						                  }
						              });
						          });
		          				</script>
							</a>
						<%end%>
				  	</div>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 bhoechie-tab">
					<div class="bhoechie-tab-content active">
						<div class="row conserti">
							<div class="col-sm-12 consw">
								<div class="col-xs-12 col-sm-3 col-md-3 col-lg3 ort">
									<div class="eNGlbox" data-toggle="modal" data-target=".myModalpopup">
										<h1 class="glyphicon glyphicon-credit-card" style="color:#55518a"></h1>
										<h4 style="margin-top: 0;color:#55518a">Mechanical Engineering</h4>
									</div>
								</div>
								<div class="col-xs-12 col-sm-3 col-md-3 col-lg3 ort">
									<div class="eNGlbox" data-toggle="modal" data-target=".myModalpopup">
										<h1 class="glyphicon glyphicon-credit-card" style="color:#55518a"></h1>
										<h4 style="margin-top: 0;color:#55518a">Mechanical Engineering</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="bhoechie-tab-content">
						<div class="row">
							<%# @stream.each do |stream|%>
								<div class="col-sm-12">
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg3">
									
										<h1 class="glyphicon glyphicon-credit-card" style="color:#55518a"></h1>
										<h3 style="margin-top: 0;color:#55518a"><%#= stream.course_name%>Mechanical Engineering</h3>
									</div>
								</div>
								<%#end%>
						</div>
					</div>

			
					<!-- <div class="bhoechie-tab-content">
						<div class="row">
								<div class="col-sm-12">
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg3">
									
										<h1 class="glyphicon glyphicon-credit-card" style="color:#55518a"></h1>
										<h3 style="margin-top: 0;color:#55518a">Mechanical Engineering</h3>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg3">
									
										<h1 class="glyphicon glyphicon-credit-card" style="color:#55518a"></h1>
										<h3 style="margin-top: 0;color:#55518a">Mechanical Engineering</h3>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg3">
									
										<h1 class="glyphicon glyphicon-credit-card" style="color:#55518a"></h1>
										<h3 style="margin-top: 0;color:#55518a">Mechanical Engineering</h3>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg3">
									
										<h1 class="glyphicon glyphicon-credit-card" style="color:#55518a"></h1>
										<h3 style="margin-top: 0;color:#55518a">Mechanical Engineering</h3>
									</div>
								</div>
							</div>
					</div> -->
			<!-- 		<div class="bhoechie-tab-content">
						<div class="row">
								<div class="col-sm-12">
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg3">
									
										<h1 class="glyphicon glyphicon-credit-card" style="color:#55518a"></h1>
										<h3 style="margin-top: 0;color:#55518a">Mechanical Engineering</h3>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg3">
									
										<h1 class="glyphicon glyphicon-credit-card" style="color:#55518a"></h1>
										<h3 style="margin-top: 0;color:#55518a">Mechanical Engineering</h3>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg3">
									
										<h1 class="glyphicon glyphicon-credit-card" style="color:#55518a"></h1>
										<h3 style="margin-top: 0;color:#55518a">Mechanical Engineering</h3>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg3">
									
										<h1 class="glyphicon glyphicon-credit-card" style="color:#55518a"></h1>
										<h3 style="margin-top: 0;color:#55518a">Mechanical Engineering</h3>
									</div>
								</div>
							</div>
					</div> -->



				</div>
			</div>
		</div>
	</div>
</div>