
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>student</title>
	
<%= stylesheet_link_tag  "bootstrap.min" %>
<%= stylesheet_link_tag  "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
<%= stylesheet_link_tag  "student" %>
<%= stylesheet_link_tag  "style" %>


	
		
		<header class="st-navbar">
			<nav class="navbar navbar-default navbar-fixed-top clearfix" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sept-main-nav">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand CstLogo" href="#"><img src="/assets/logoedu.png" alt="" class="img-responsive imgsize"></a>
					</div>
					
					<div class="collapse navbar-collapse main-nav" id="sept-main-nav">
						<ul class="nav navbar-nav navbar-right navrightmnu">
							<li class="active"><a href="#home">Home</a></li>
							
							<li><a href="#service">Service</a></li>
							<li><a href="#contact">Contact Us</a></li>
							<li><a href="login.html">Login</a></li>
							<li><a href="signup.html">Sign Up</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		
		<section class="homeone" id="home" data-stellar-background-ratio="0.4">
     </section>

     <div class="container-fluid contboderthree">
  <h3 style="text-align:center;">REGISTERED STUDENTS</h3>
<div class="row RowMarginzero">
<div class="col-sm-6 col-md-3">
  <div id="wrapper">
            <div class="cards">
                <div class="card-header">
                    <div class="card-header-mask">
                        <div class="card-header-date">
                            <div class="card-header-date-day">12</div>
                            <div class="card-header-date-month">May</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-body-header">
                      <div class="card-body-header-category">
			          <img class="img-respomsive Companylg" src="/assets/aj.jpg">
			          </div>
					  <p class="card-body-header-sentence">
                           <span>Tabashi Technology Private Limited</span>
                        </p>
                        <h5 class="hfivestyle">Lorem ipsum dolor amet consectetur adipisicing elit.
                        Molestias autem aliquid,recusandae maiores iste fuga,
                        explicabo dolor vitae magnam!</h5>
                        <a href="#" target="_blank" class="custanchor">read more...</a>
                        </div>
                   <div class="card-body-footer">
				   <div class="row">
				      <div class="col-md-4 col-xs-4 text-center">
					  <ul class="soclmd" style="display: none;">
					   <a href="#"><li><i class="fa fa-facebook-square"></i></li></a>
					   <a href="#"><li><i class="fa fa-twitter"></i></li></a>
					   <a href="#"><li><i class="fa fa-whatsapp"></i></li></a>
					   <a href="#"><li><i class="fa fa-envelope-o"></i></li></a>
					   <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
					   </ul>
			           <span class="socxialtoggle"><i aria-hidden="true" class="fa fa-share-alt"></i></span>
					 
					</div>
					   <div class=" col-md-8 col-xs-8 text-center">
                        <a target="_blank" href="viewjobs.html">
						<span class="Footeranchor">Open in a new tab</span>
						</a>
					</div>
					</div>
                    </div>
                </div>
            </div>
        </div>
       </div>
    <div class="col-sm-6 col-md-3">
  <div id="wrapper">
            <div class="cards">
                <div class="card-header">
                    <div class="card-header-mask">
                        <div class="card-header-date">
                            <div class="card-header-date-day">12</div>
                            <div class="card-header-date-month">May</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-body-header">
                      <div class="card-body-header-category">
			          <img class="img-respomsive Companylg" src="/assets/aj.jpg">
			          </div>
					  <p class="card-body-header-sentence">
                           <span>Tabashi Technology Private Limited</span>
                        </p>
                        <h5 class="hfivestyle">Lorem ipsum dolor amet consectetur adipisicing elit.
                        Molestias autem aliquid,recusandae maiores iste fuga,
                        explicabo dolor vitae magnam!</h5>
                        <a href="#" target="_blank" class="custanchor">read more...</a>
                        </div>
                   <div class="card-body-footer">
				   <div class="row">
				      <div class="col-md-4 col-xs-4 text-center">
					  <ul class="soclmd" style="display: none;">
					   <a href="#"><li><i class="fa fa-facebook-square"></i></li></a>
					   <a href="#"><li><i class="fa fa-twitter"></i></li></a>
					   <a href="#"><li><i class="fa fa-whatsapp"></i></li></a>
					   <a href="#"><li><i class="fa fa-envelope-o"></i></li></a>
					   <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
					   </ul>
			           <span class="socxialtoggle"><i aria-hidden="true" class="fa fa-share-alt"></i></span>
					 
					</div>
					   <div class=" col-md-8 col-xs-8 text-center">
                        <a target="_blank" href="viewjobs.html">
						<span class="Footeranchor">Open in a new tab</span>
						</a>
					</div>
					</div>
                    </div>
                </div>
            </div>
        </div>
       </div>

      <div class="col-sm-6 col-md-3">
  <div id="wrapper">
            <div class="cards">
                <div class="card-header">
                    <div class="card-header-mask">
                        <div class="card-header-date">
                            <div class="card-header-date-day">12</div>
                            <div class="card-header-date-month">May</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-body-header">
                      <div class="card-body-header-category">
			          <img class="img-respomsive Companylg" src="/assets/aj.jpg">
			          </div>
					  <p class="card-body-header-sentence">
                           <span>Tabashi Technology Private Limited</span>
                        </p>
                        <h5 class="hfivestyle">Lorem ipsum dolor amet consectetur adipisicing elit.
                        Molestias autem aliquid,recusandae maiores iste fuga,
                        explicabo dolor vitae magnam!</h5>
                        <a href="#" target="_blank" class="custanchor">read more...</a>
                        </div>
                   <div class="card-body-footer">
				   <div class="row">
				      <div class="col-md-4 col-xs-4 text-center">
					  <ul class="soclmd" style="display: none;">
					   <a href="#"><li><i class="fa fa-facebook-square"></i></li></a>
					   <a href="#"><li><i class="fa fa-twitter"></i></li></a>
					   <a href="#"><li><i class="fa fa-whatsapp"></i></li></a>
					   <a href="#"><li><i class="fa fa-envelope-o"></i></li></a>
					   <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
					   </ul>
			           <span class="socxialtoggle"><i aria-hidden="true" class="fa fa-share-alt"></i></span>
					 
					</div>
					   <div class=" col-md-8 col-xs-8 text-center">
                        <a target="_blank" href="viewjobs.html">
						<span class="Footeranchor">Open in a new tab</span>
						</a>
					</div>
					</div>
                    </div>
                </div>
            </div>
        </div>
       </div>

     <div class="col-sm-6 col-md-3">
  <div id="wrapper">
            <div class="cards">
                <div class="card-header">
                    <div class="card-header-mask">
                        <div class="card-header-date">
                            <div class="card-header-date-day">12</div>
                            <div class="card-header-date-month">May</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-body-header">
                      <div class="card-body-header-category">
			          <img class="img-respomsive Companylg" src="/assets/aj.jpg">
			          </div>
					  <p class="card-body-header-sentence">
                           <span>Tabashi Technology Private Limited</span>
                        </p>
                        <h5 class="hfivestyle">Lorem ipsum dolor amet consectetur adipisicing elit.
                        Molestias autem aliquid,recusandae maiores iste fuga,
                        explicabo dolor vitae magnam!</h5>
                        <a href="#" target="_blank" class="custanchor">read more...</a>
                        </div>
                   <div class="card-body-footer">
				   <div class="row">
				      <div class="col-md-4 col-xs-4 text-center">
					  <ul class="soclmd" style="display: none;">
					   <a href="#"><li><i class="fa fa-facebook-square"></i></li></a>
					   <a href="#"><li><i class="fa fa-twitter"></i></li></a>
					   <a href="#"><li><i class="fa fa-whatsapp"></i></li></a>
					   <a href="#"><li><i class="fa fa-envelope-o"></i></li></a>
					   <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
					   </ul>
			           <span class="socxialtoggle"><i aria-hidden="true" class="fa fa-share-alt"></i></span>
					 
					</div>
					   <div class=" col-md-8 col-xs-8 text-center">
                        <a target="_blank" href="viewjobs.html">
						<span class="Footeranchor">Open in a new tab</span>
						</a>
					</div>
					</div>
                    </div>
                </div>
            </div>
        </div>
       </div>
    
</div>

</div>
	<%=render "layouts/footer"%>

<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "bootstrap.min" %>
<%= javascript_include_tag "jquery.stellar" %>
<%= javascript_include_tag "jquery.appear" %>
<%= javascript_include_tag "jquery.nicescroll.min" %>
<%= javascript_include_tag "script" %>	
	
