<title>Placements</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= render "layouts/stylesheets"%>

<style type="text/css">
     .ADDcorsen.text-right {
  padding: 20px 0;
}
</style> 

<div class="bg-dark dk" id="wrap">
  <%= render "schools/top"%>
  <%= render :partial => "schools/left", :locals => { :active => 'Layouts' }%>
  <div id="content">
    <div class="outer">
      <div class="inner bg-light lter">
        <h4>List of Placement</h4>
        <hr>
        <div class="ADDcorsen text-right">
          <%=link_to "Back",schools_path, class: "btn btn-primary"%>
          <%=link_to "Add Placement Details",school_placement_path(current_user), class: "btn btn-primary"%>
        </div> 
        <div class="table-responsive"> 
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Title</th>
                <th>Companies Visited</th>
                <th>Students Placed</th>
                <th>Year</th>
                <th>Action</th>
              </tr>
            </thead>
            <% @placements.each do |placement|%>
              <tbody>
                <tr>
                  <td><%= placement.title%></td>
                  <td><%= placement.companies_visited%></td>
                  <td><%= placement.students_placed%></td>
                  <td><%= placement.year%></td>
                  <td>
                    <%=link_to "Edit", school_update_placement_path(placement),class: "btn btn-primary btn-xs"%>
                    <%=link_to "Delete", school_destroy_placement_path(placement),class: "btn btn-danger btn-xs", data: {confirm: "Are you sure?"}%>
                  </td>
                </tr>
              </tbody>
            <%end%>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="Footer bg-dark dker">
    <p>2017 &copy; Tabashi Technology Private Limited</p>
</footer>

<div id="helpModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<%= render "layouts/javascripts"%>