<title>Overview</title>
<%= render "layouts/stylesheets"%>

<div class="bg-dark dk" id="wrap">
  <%= render "schools/top"%>
  <%= render :partial => "schools/left", :locals => { :active => 'Layouts' }%>
  <div id="content">
    <div class="outer">
      <div class="inner bg-light lter">
        <h4>Courses</h4>
        <hr>
        <%= form_for(@course, url: school_update_course_path) do |f| %>
          <div class="row vdiocont"> 
            <div class="form-group margunrve">
              <%= label_tag :degree_name, "Name of Degree" %><br />
              <%= text_field_tag :new_degree_name %>
              <label for="sel1">Enter or Select Degree</label><br />
              <%= f.select( :degree_name, Course.all.map {|p| [p.degree_name]}.uniq!, :prompt => "Select a Degree") %>
            </div>   
            <div class="form-group margunrve">
              <%= label_tag :course_name, "Name of Course" %><br />
              <%= text_field_tag :new_course_name %>
              <label for="sel1">Enter or Select Course</label><br />
              <%= f.select( :course_name, Course.all.map {|p| [p.course_name]}.uniq!, :prompt => "Select a Courses") %>
            </div>
             <div class="form-group">
              <label for="sel1">Duration</label>
              <%=f.text_field :course_duration, class: "form-control",placeholder: "Duration" %>
            </div>
            <div class="form-group margunrve">
              <label for="email">Courses Type: </label>
              <%= f.radio_button :course_type, true%>Regular
              <%= f.radio_button :course_type, false%>Correspondence
            </div>
            <div class="form-group margunrve">
              <label for="email">Annual Fees</label>
              <%=f.text_field :course_fee, class: "form-control",placeholder: "Fee" %>
            </div> 
            <div class="form-group margunrve">
              <label for="email">Affliation</label>
              <%=f.text_field :course_affliation, class: "form-control",placeholder: "Affliation" %>
            </div>
            <div class="form-group margunrve">
              <label for="pwd">Description</label>
              <%=f.text_area :course_description, class: "form-control",placeholder: "Description" %>
            </div>
            <div class="form-group margunrve text-center">
              <%=f.submit "Submit", class: "btn btn-default"%>
              <button type="submit" class="btn btn-default">cancel</button>
            </div>
          </div>    
        <%end%>
        <hr>
      </div>
    </div>
  </div>
</div>

<footer class="Footer bg-dark dker">
    <p>2017 &copy; Tabashi Technology Private Limited</p>
</footer>

<div id="helpModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
          </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/javascripts"%>