<%= stylesheet_link_tag  "bootstrap.min" %>
<%= stylesheet_link_tag  "studentProfile" %>
<%= stylesheet_link_tag  "style" %>

<title>Student Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">  

<div class="container-fluid studentconter">
  <div class="content-agileits">
    <div class="left">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <form action="#" method="post" data-toggle="validator">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group frmgrpcust">
              <label for="firstname" class="control-label">Name:</label>
              <%= f.text_field :name, autofocus: true,class: "form-control",placeholder: "Name",required: true%>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div> 

        <div class="row">
          <div class="col-md-12">     
            <div class="form-group frmgrpcust">
              <label for="inputEmail" class="control-label">Email:</label>
              <%= f.email_field :email, autofocus: true,class: "form-control",placeholder: "Name",value: resource.email %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">         
            <div class="form-group frmgrpcust">
              <label for="Phone" class="control-label">Phone:</label>
              <%= f.text_field :phone_no, autofocus: true,class: "form-control",placeholder: "Phone",value: resource.phone_no %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group frmgrpcust">
              <label for="Address" class="control-label">Address:</label>
              <%= f.text_area :address, autofocus: true,class: "form-control",placeholder: "Address" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group frmgrpcust">
              <label for="Country" class="control-label">Country:</label>
                <%=f.select :country_id, options_for_select(@countries.collect{|p| [p.name, p.id]}),{include_blank: "Select Country"},{required: 'true',autofocus:'true',class:'form-control'}%>


              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group frmgrpcust">
              <label for="State" class="control-label">State:</label>
              <%=f.select :state_id, options_for_select(@states.collect{|p| [p.name, p.id]}),{include_blank: "Select State"},{required: 'true',autofocus:'true',class:'form-control'} %>


              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group frmgrpcust">
              <label for="City" class="control-label">City:</label>
              <%=f.select :city_id, options_for_select(@cities.collect{|p| [p.name, p.id]}),{include_blank: "Select City"},{required: 'true',autofocus:'true',class:'form-control'} %>

              
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group frmgrpcust">
              <label for="Class" class="control-label">Class:</label>
              <%= f.text_field :qualification, autofocus: true,class: "form-control",required: true%>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group frmgrpcust">
              <label for="Class" class="control-label">Pincode:</label>
              <%= f.text_field :pincode, autofocus: true,class: "form-control",placeholder: "Pincode",required: true %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>

        <div class="form-group frmgrpcust">
          <label for="file" class="control-label">Image:</label>
          <%= f.file_field :profile_image, autofocus: true,class: "form-control"%>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group frmgrpcust">
          <label for="file" class="control">Document:</label>
          <%= f.file_field :document, autofocus: true,class: "form-control"%>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group frmgrpcust w3ls-opt">
          <label for="Phone" class="controlLabel">Gender:</label>
          <label class="">
            <%= f.radio_button :gender, true%> Male
          </label>
          <label class=" label2">
            <%= f.radio_button :gender, false %>Female
          </label>
          <!-- <label class="w3layouts label2">
            <input type="radio" name="work" id="others" value="female">Others
          </label> -->
        </div>

        <div class="form-inline row">
          <div class="col-sm-12 col-md-12 col-xs-12">
            <div class="form-group frmgrpcust col-sm-6 col-md-6  col-lg-6 agileits-w3layouts">
              <%= f.submit "Update", class: "btn btn-lg"%>
            </div>
            <div class="form-group frmgrpcust col-sm-6 col-md-6 col-lg-6 agileits-w3layouts">
              <button type="reset" class="btn btn-lg">reset</button>
            </div>
          </div>
        </div>
      </form>
    <% end %>
    </div>
    <div class="right">
      <div class="heading-text">
        <h1 class="student-profile">Edit Student Profile</h1>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "bootstrap.min" %>
<script type="text/javascript">
  $(document).on("change", "#user_country_id", function(){
    var country = $(this).val();
    $.ajax({
      url: "/users/edit",
      method: "GET",
      dataType: "json",
      data: {country: country},
      error: function (xhr, status, error) {
        console.error('AJAX Error: ' + status + error);
      },
      success: function (response) {
        console.log(response);
        var states = response["states"];
        $("#user_state_id").empty();
        $("#user_state_id").append('<option>Select State</option>');
        for(var i=0; i< states.length; i++){
          $("#user_state_id").append('<option value="' + states[i]["id"] + '">' + states[i]["name"] + '</option>');
        }
      }
    });
  });
  $(document).on("change", "#user_state_id", function(){
    var state = $(this).val();
    $.ajax({
      url: "/users/edit",
      method: "GET",
      dataType: "json",
      data: {state: state},
      error: function (xhr, status, error) {
        console.error('AJAX Error: ' + status + error);
      },
      success: function (response) {
        console.log(response);
        var cities = response["cities"];
        $("#user_city_id").empty();
        $("#user_city_id").append('<option>Select City</option>');
        for(var i=0; i< cities.length; i++){
          $("#user_city_id").append('<option value="' + cities[i]["id"] + '">' + cities[i]["name"] + '</option>');
        }
      }
    });
  });
</script>